<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand">Starter Kit</a>
			<ul class="nav pull-right">
				<li class="btn btn-primary">Log in</li>
			</ul>
		</div>
	</div>
</div>	

{{view App.AuthView}}
{{outlet}}