<div class="navbar navbar-fixed-top">
	<div class="container" style="width:auto;">
		<a class="navbar-brand" href="#">Starter Kit</a>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li>{{#linkTo "users.index"}}Users list{{/linkTo}}</li>
			<li><a href="#">Contact</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			{{#if App.Auth.signedIn}}
				{{render 'auth/sign-out'}}
			{{else}}
				<button type="button" class="btn btn-default navbar-btn">Log in</button>
				<button type="button" class="btn btn-primary navbar-btn">Register</button>
			{{/if}}
		</ul>	
	</div>
</div>	

{{view App.AuthView}}
{{outlet}}